.doctorCard {
    height: 3rem;
    width: 100%;

    border-radius: .5rem;
    padding: 0 1rem;

    background-color: aliceblue;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    
}

.name{
    width: 40%;
    text-align: start;
}

.dr{
    font-weight: bold;
}

.especialidad {
    width: 30%;
    text-align: start;
}