
.container {
    background-color: white;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    align-items: center;
    padding: .2rem;
}

input {
    background-color: aliceblue;
}

.formImput {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}


.btn {
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    padding: .3rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: #0068ff;
}

.btn:hover {
    cursor: pointer;
}