.container {
    position: absolute;
    z-index: 100;
    height: 70%;
    width: 50%;
    border: 1px solid black;

    border-radius: 1rem;

    background-color: #007878;
    top: 5rem;
    left: 40rem;

    padding-top: 1rem;

    


}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 50;

    background-color: black;
    opacity: .2;
}

.input {
    padding: 1rem;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.button:hover {
    cursor: pointer;
}

.button{
    width: 5rem;
    padding: .5rem 2rem;
    margin: 1rem auto;
    border: 1px solid white;
    color: white;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    color: white;
}