.container{
    position: absolute;
    top:0;
    left: 0;
}

.nuevoTurno {
    position: relative;
    
    z-index: 100;
    height: 45rem;
    width: 40rem;
    border: 1px solid black;
    top: calc((100vh/2) - 22rem);
    left: calc((100vw/2) - 20rem);

    border-radius: 1rem;

    background-color: #007878;
    

    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.formInputs {
    font-size: 1.2rem;
    height: 12rem;
    width: 50%;
    margin: 0 auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 50;

    background-color: black;
    opacity: .2;
}

.input {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.button:hover {
    cursor: pointer;
}

.button{
    width: 5rem;
    padding: .5rem 2rem;
    margin: 1rem auto;
    border: 1px solid white;
    color: white;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    height: 1.5rem;
}

.h2{
    color: white;
}

